<!-- ========= Course Management ======== -->
<div class="management">
  <div class="top_menu">
    <div class="top_menu_titles">
      <span id="manage__course-click" class="top_menu_title">
        Manage courses
      </span>
      <span id="manage__student-click" class="top_menu_title">
        Manage students
      </span>
    </div>

    <button id="add__course" class="button button_add_course">
      <i class="fa fa-plus"></i> New Course
    </button>
  </div>

  <table class="course_table">
    <thead>
      <tr class="th_row">
        <th></th>
        <th>Course Icon</th>
        <th>Course Code</th>
        <th>Course name</th>
        <th>Credit</th>
        <th>Number of students</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Table body will be loaded dynamically given value from database. -->

    </tbody>

  </table>
</div>
</section>

<section id="popup__modal" class="dashboard__dynamic">
  <!-- This will be loaded dynamically from a file  -->
</section>

<div id="spinner-overlay">
  <div class="spinner"></div>
</div>
