<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USER DASHBOARD</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/main_dashboard.css" />
    <link rel="stylesheet" href="/static/css/side_navbar.css" />
    <link rel="stylesheet" href="/static/css/course_management.css" />
    <link rel="stylesheet" href="/static/css/components.css?{{ cache_id }}" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/modals.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="module" src="/static/js/dashboard/main_dashboard.js?{{ cache_id }}"></script>
    <script type="module" src="/static/js/dashboard/side_navbar.js{{ cache_id }}"></script>
    <script type="module" src="/static/js/dashboard/course_management.js"></script>
    <script type="module" src="/static/js/dashboard/common.js"></script>
    <script type="module" src="/static/js/dashboard/app.js"></script>
  </head>

  <body>
    <!-- ===== USER DASHBOARD DESIGN ===== -->
    <div class="dashboard">
      <section class="sidebar">
        <div class="logo-details">
          <div class="logo_name">WIS-Grader</div>
          <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav-list">
          <li id="sidebar__main" class="sidebar__nav-icon">
            <a href="#">
              <i class="bx bx-grid-alt"></i>
              <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
          </li>
          <li id="sidebar__course" class="sidebar__nav-icon">
            <a href="#">
              <i class='bx bx-book-content' ></i>
              <span class="links_name">Course Management</span>
            </a>
            <span class="tooltip">Course Management</span>
          </li>
          <li id="sidebar__grade" class="sidebar__nav-icon">
            <a href="#">
              <i class='bx bx-book' ></i>
              <span class="links_name">Grade Book</span>
            </a>
            <span class="tooltip">Grade Book</span>
          </li>
          <li id="sidebar__setting" class="sidebar__nav-icon">
            <a href="#">
              <i class="bx bx-chat"></i>
              <span class="links_name">Help & Support</span>
            </a>
            <span class="tooltip">Help & Support</span>
          </li>
          <li id="sidebar__help" class="sidebar__nav-icon">
            <a href="#">
              <i class="bx bx-cog"></i>
              <span class="links_name">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
          </li>
          <li id="sidebar__logout" class="sidebar__nav-icon">
            <a href="#">
              <i class="bx bx-log-out"></i>
              <span class="links_name">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
          </li>
          <li class="profile">
            <div class="profile-details">
              <img class="profile-img" src="https://intranet.alxswe.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMmt4QlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--0480b45fc2e89b479f62b2a2a126fd67adb480ae/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCeUdrQnlBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596ca5c9d0091ccfe5374ad3fb3471cc1878f984/Nwante_Modified-01.jpg" alt="profileImg" />

              <div class="name">My Profile</div>

            </div>
            <span class="tooltip">My Profile</span>
          </li>
        </ul>
      </section>

      <div class="home_dashboard">
        <!-- ========= HEADER SECTION ======== -->
        <header class="top_bar">
          <div class="logo_name">WIS-Grader</div>
          <div class="m_profile">
            <img class="profile_img" src="https://intranet.alxswe.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMmt4QlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--0480b45fc2e89b479f62b2a2a126fd67adb480ae/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCeUdrQnlBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596ca5c9d0091ccfe5374ad3fb3471cc1878f984/Nwante_Modified-01.jpg" alt="profileImg" />
          </div>
        </header>
        <div class="dashboard__header">
          <h1>Dashboard</h1>
          <div class="dashboard__top-right">
            <!-- <span class="dashboard__search-box">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="search" placeholder="Search" />
              </span> -->
          </div>
        </div>

        <section id="dynamic__load-dashboard">
          <!-- ========= DASHBOARD SECTION GOES HERE ======== -->
          <div class="dashboard__sections">
            <div class="dashboard__intro">
              <div class="dashboard__welcome">
                <div class="dashboard__welcome-message">
                  <h2 id="main__user-welcome--text">
                    <!-- Welcome dynamically loaded here -->
                  </h2>
                  <span>It's good to see you again.</span>
                </div>

                <img
                  src="/static/images/waving_lady.svg"
                  alt=""
                  srcset=""
                  class="waving__lady"
                  />
              </div>
              <!-- Teachers Inspirational Quotes-->
              <div class="quote__container">
                <blockquote class="quote">
                  "The only limit to our realization of tomorrow is our doubts
                  of today."
                </blockquote>
                <cite class="author">- Franklin D. Roosevelt</cite>
              </div>
            </div>
            <!-- ====== Course cards preview ====== -->
            <div class="dashboard__courses">
              <div class="courses_actions">
                <h3>Courses</h3>
                <button id="main__add-course" class="button">Add New Course</button>
              </div>

              <div id="courses-cards" class="courses_cards">
                <div class="card">
                  <div class="eclipse eclipse_top">
                    <i class="fa fa-book" aria-hidden="true"></i>
                  </div>
                  <span>
                    <h4 class="course_code">__ __ __ __ __ __</h4>
                    <h6 class="course_title">__ __ __</h6>
                  </span>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  <div class="eclipse eclipse_bottom">0</div>
                </div>

                <div class="card">
                  <div class="eclipse eclipse_top">
                    <i class="fa fa-book" aria-hidden="true"></i>
                  </div>
                  <span>
                    <h4 class="course_code">MAT - 101</h4>
                    <h6 class="course_title">Introduction Mathematics</h6>
                  </span>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  <div class="eclipse eclipse_bottom">20</div>
                </div>

                <div class="card">
                  <div class="eclipse eclipse_top">
                    <i class="fa fa-book" aria-hidden="true"></i>
                  </div>
                  <span>
                    <h4 class="course_code">ENG - 243</h4>
                    <h6 class="course_title">Business English</h6>
                  </span>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  <div class="eclipse eclipse_bottom">9958</div>
                </div>
              </div>
            </div>

            <div class="dashboard__course-management">
              <div class="courses__view">
                <h3>Course Management</h3>
                <button class="button--view-all">View all</button>
              </div>

              <table id="home_dashboard_table" class="course_table">
                <thead>
                  <tr class="th_row">
                    <th>Course Name</th>
                    <th>Course Code</th>
                    <!--<th>Course Details</th>-->
                    <th>Academic Year</th>
                    <th>Student's Count</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody id="main__course-table--body">
                  <!-- Table body will be loaded dynamically given value from database. -->
                </tbody>
              </table>
            </div>
          </div>

          <!-- Popup Modal For Guest details -->
          <div id="course__details-modal" class="popup-modal">
            <div class="popup-modal-content course__modal-content">
              <!-- Close Button -->
              <button class="close-btn closePopupModal">&times;</button>
              <h1>Course Details</h1>

              <!-- Data in this section is dynamically loaded -->
	      <div class="course__details-flex">
                <h4>Course Title: </h4>
                <p id="course-title"></p>
	      </div>
              <div class="course__details-flex">
                <h4>Course Code: </h4>
                <p id="course-code"></p>
              </div>
              <div class="course__details-flex">
                <h4>Course Level: </h4>
                <p id="course-level"></p>
              </div>
              <div class="course__details-flex">
                <h4>Course Semester / Year: </h4>
                <p id="course-semester"></p>
              </div>
              <div class="course__details-flex">
                <h4>Course Load: </h4>
                <p id="course-load"></p>
              </div>
              <div class="course__details-flex">
                <h4>Student's Enrolled: </h4>
                <p id="course-enroll">30 Student</p>
              </div>
              <div class="course__details-flex">
                <h4>Registration Status: </h4>
                <p id="course__reg-status" style="color: green;">Active</p>
              </div>
           </div>
          </div>
        </section>

        <!-- Data storage -->
        <div id="main__data-storage" data-main-dashboard="yes"></div>

      </div>

      <div id="popup__modal">
        <!-- This will be loaded dynamically from a file -->
      </div>
    </div>
  </body>
</html>
