<div id="modal" class="modal-container">
  <div class="modal--dashboard-form">
    <h2 id="course__modal" class="modal__title">
      <!-- Heading dynamically loaded here -->
    </h2>
    <span id="close-icon" class="close-icon close-icon--modal common__cancel-btn">&times;</span>
    <form id="course-management" class="form--course-management">

      <!-- Set data and retrieved data from form field.  -->
      <input type="hidden" id="method" />
      <input type="hidden" id="course__id" />

      <div class="course_name_code">
        <label>
          Course name
          <input type="text" name="name" class="form__input--text" placeholder="E.g: English Language" required>
        </label>
        <label>
          Course code
          <input type="text" name="code" class="form__input--text" placeholder="E.g: ENG-202" required>
        </label>
      </div>
      <p>Description</p>
        <textarea class="form__textarea" name="description" rows="8" placeholder="Course description"></textarea>
        </label>

      <div class="form__group-select">
        <label for="">
          Course Level
          <select name="level" required>
            <option value="" disabled selected>Select Level</option>
	    <option value="Basics">Basic Level</option>
            <option value="Undergraduate">Undergraduate</option>
            <option value="Masters">Masters</option>
            <option value="Doctorate">Doctorate</option>
          </select>
        </label>

        <label for="">
          Semester
          <select name="semester" required>
            <option id="semester__autofill" value="" disabled selected>Select Semeseter</option>
            <option value="First Semester">First Semester</option>
            <option value="Second Semester">Second Semester</option>
          </select>
        </label>

        <label for="">
          Credit Unit
          <select name="load" required>
            <option value="" disabled selected>Select Credit Unit</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </label>
      </div>

      <button type="submit" class="button button--save">Save</button>
    </form>
  </div>
</div>
