<!-- ===== Create course success markup ====== -->

<div class="modal modal--course">
  <i class="fa fa-times" aria-hidden="true"></i>
  <img class="modal__image" src="/static/images/dancing_girl.jpeg" alt="">
  <div class="modal__card">
    <h1 class="modal__title">
      Course created successfully
    </h1>
    <p class="modal__subtitle">
    Share this link to enroll for this course or copy link below
    </p>
    <p class="modal__link">https://docs.google.com/document/eroll-cours8ptAQYdo0MU/edit</p>

    <button class="button button--share"> Share link <i class="fa fa-share-alt" aria-hidden="true"></i> </button>
  </div>
</div>
