body {
  font-family: Arial, sans-serif;
  background-color: #ff9f1c;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}

.title {
  color: #ffffff;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red */
}

.auth__bg {
  display: flex;
  height: 100vh;
}

/* ==================== RECTANGLES ======================= */

.gradient_rect_container {
  width: 50%;
}

/* ==================== RIGHT RECTANGLES ======================= */
.right__rect__container {
  position: relative;
  top: 50px;
  left: 50%;
  width: 255px;
  height: 262px;
  margin-top: 40px;

}

.right__base__rect {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  transform: rotate(17.0399deg);
  background-color: rgba(94, 94, 94, 0.13);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(10px);
  mix-blend-mode: color-dodge;
}


.right__rotated__rect {
  position: absolute;
  top: 62.0689px;
  left: 101.955px;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  transform: rotate(17.0399deg);
  background-color: rgba(128, 128, 128, 0.3);
}

/* ==================== LEFT RECTANGLES ======================= */
.left__rect__container {
  position: relative;
  left: 50px;
  bottom: -200px;
  width: 255px;
  height: 262px;
  margin-top: -100px;
}

.left__base__rect {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  transform: rotate(17.0399deg);
  background-color: rgba(128, 128, 128, 0.3);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(10px);

}


.left__rotated__rect {
  position: absolute;
  top: 62.0689px;
  left: 101.955px;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  transform: rotate(17.0399deg);
  background-color: rgba(94, 94, 94, 0.13);
  mix-blend-mode: color-dodge;
}


/* ========Form styling begins here======== */
.form_bg_image {
   background-image: url(../images/form_bg_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.glassmorphism {
  width: 100%;
  padding: 40px;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form__container {
  position: relative;
  text-align: center;
  color: #ffffff;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-weight: 700;
}

.form__container hr {
  border-width: 1.5px;
  border-top: 1px solid #ffffff;
  max-width: 250px;
  margin: 20px auto;
}

.register__form {
  width: 100%;
}

.register__form input {
  border: none;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 15px;
  border-radius: 16px;
  margin: 10px 0;
  box-sizing: border-box;
}

.highlight__pwd__input {
  background: #F9DEDC;
  border: 2px solid #dc362e !important;
}

.signup__btn {
  background: #000000;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  padding: 15px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.signup__btn:hover {
  background-color: #333333;
}

.form__container hr {
  max-width: 250px;
  margin: 20px auto;
  border-color: rgba(255, 255, 255, 0.3);
}

.or_text {
  background: black;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
  color: #ffffff;
}

.google__btn {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0;
  margin-top: 30px;
  border-radius: 16px;
  border: 2px solid #ffffff;
}

.google__btn a {
  color: #ffffff;
}

.signin__text {
  color: #ff9f1c;
}

@media (max-width: 1200px) {
  .glassmorphism {
    padding: 10px;
  }
}

@media (max-width: 950px) {
  .title {
    font-size: 38px;
  }
}

@media (max-width: 760px) {
  .title {
    font-size: 48px;
  }

  .auth__bg {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gradient_rect_container,
  .form_bg_image {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }

  .glassmorphism {
    padding: 20px;
  }

  .form__container {
    width: 90%;
  }

  .signup__btn {
    padding: 12px;
  }

  .or_text {
    bottom: 85px;
  }

  .google__btn {
    padding: 8px 0;
  }
}
