body {
  font-family: Arial, sans-serif;
  background-color: #ff9f1c;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.title {
  color: #ffffff;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__bg {
  display: flex;
  height: 100vh;
}

/* ========Form styling begins here======== */
.form_bg_image {
   background-image: url(../images/form_bg_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.glassmorphism {
  width: 70%;
  padding: 40px 0;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form__container {
  position: relative;
  text-align: center;
  color: #ffffff;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-weight: 700;
}

.register__form {
  width: 100%;
}

.register__form input,
.register__form .button--signup,
.register__form .button--signin {
  border: none;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 15px;
  border-radius: 16px;
  margin: 10px 0;
}

.highlight__pwd__input {
  background: #F9DEDC;
  border: 2px solid #dc362e !important;
}

.form__container hr {
  border-width: 1.5px;
  border-top: 1px solid #ffffff;
  max-width: 250px;
  margin: 20px auto;
  border-color: rgba(255, 255, 255, 0.3);
}

.or_text {
  background: #000000;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
  color: #ffffff;
}

.google__btn {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0;
  margin-top: 30px;
  border-radius: 16px;
  border: 2px solid #ffffff;
}

.google__btn a {
  color: #ffffff;
}

.signin__text {
  color: #ff9f1c;
}

/* ======= Responsive Design ======== */
@media (max-width: 1300px) {
  .glassmorphism {
    padding: 40px;
  }
}

@media (max-width: 950px) {
  .title {
    font-size: 38px;
  }
}

@media (max-width: 760px) {
  .title {
    font-size: 48px;
  }

  .auth__bg {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gradient_rect_container,
  .form_bg_image {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }

  .glassmorphism {
    padding: 20px;
  }

  .form__container {
    width: 90%;
  }

  .button {
    padding: 12px;
  }

  .or_text {
    bottom: 85px;
  }

  .google__btn {
    padding: 8px 0;
  }
}
