body {
  font-family: Arial, sans-serif;
  background-color: #FF9F1C;
  margin: 0;
  padding: 0;

}


/* THE DESIGN STARTS HERE */

.auth__conatiner {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  margin: 25vh auto;
  border-radius: 10px;
}

.auth__content .subtitle {
  color: #1A1919;
}

.auth__content input {
  background: #E7E7E7;
  border: none;
  width: 80%;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 16px;
  margin: 10px 0;
  box-sizing: border-box; /*remember to move this tho the right place*/
}

.auth__content .reset__input {
/* Maybe used later */
}

.verify__form input {
  text-align: center;
  width: 50px;
  border-radius: 5px;
}

.auth__content .primary__btn {
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 16px;
  margin-top: 30px;
}

.auth__content .link {
  text-decoration: none;
  color: #ffffff;
}

.auth__content .alt__option {
  text-decoration: none;
  color: #FF9F1C;
}

/* ==== Success components ==== */
.auth__success__alert
{
  background: #28a745;
  border: 1px solid #1e7e34;
}

/* ==== Failure components ==== */
.auth__error__alert
{
  background: red;
  color: white;
}

/* ==== Message components ==== */
.auth__alert__msg
{
  display: none;
  background: #f9dedc;
  color: #000000;
  text-align: center;
  /* font-weight: bold; */
  letter-spacing: 1px;
  font-size: 16px;
  width: 250px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 20px;
}

/* ==== Animate while waiting for server response ==== */
.loader
{
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: none;
  margin: 20px auto;
}
@keyframes spin
{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
/* Responsive styles */
@media (min-width: 600px) {
  .auth__conatiner {
    max-width: 400px;
    padding: 60px;
  }

  .auth__content input,
  .primary__btn {
    max-width: 350px;
  }
}

@media (min-width: 768px) {
  .auth__content .title {
    font-size: 2em;
  }

  .auth__content .subtitle {
    font-size: 1.1em;
  }
}
