/*===== Manage courses styles =====*/
.top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 20px;
  font-size: 18px;
}

.top_menu_titles {
  display: flex;
  align-items: center;
  gap: 25px;
}

.top_menu_title {
  cursor: pointer;
}

.top_menu_outline {
  border-bottom: 1px solid black;
}

.button_add_course {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
}

.fa-ellipsis-v {
  margin-right: 25px;
  cursor: pointer;
}

.course_table-close-icon {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/*==== Course management table popup modal component =====*/


/*======= TABLE STYLING ========*/
.course_table, .student_table {
  text-align: center;
  width: 100%;
  border-spacing: 0;
}

.higlight__border {
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
}

tr {
  position: relative;
}

.active_row {
  background-color: #F0FFB6;
}

.th_row :first-child,
.course_name {
  text-align: left;
  padding-left: 30px;
}

.th_row {
  background: #E7E7E7;
  color: #24232399;
}

.th_row :first-child {
  border-top-left-radius: 10px;
  padding-left: 50px;
}

.th_row :last-child {
  border-top-right-radius: 10px;
}

.course_table th, .student_table th, td {
  border-bottom: 1px solid #706e6e99;
  padding: 10px 0;
}

.course_table .fa-book, .student_table .fa-book {
  color: #D98D55;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.course_table .menu_toggle {
  border: none;
  font-weight: bold;
  border-radius: 50%;
  width: 45px;
  padding: 10px 0;
  font-size: 20px;
}

.course__name-container {
  display: flex;

  .name {
    padding-left: 15px;
  }
  input {
    width: 15px;
    height: 15px;
    &:hover {
      cursor: pointer;
    }
  }
}

.course_table .menu_toggle:hover {
  background: #007AFF66;
  cursor: pointer;
}

.menu_list {
  display: none;
  position: absolute;
  background: #e7e7e7e7;
  color: #060606;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  z-index: 1000;
  width: 200px;
}

.menu_item {
  padding: 15px 0;
}

.menu_item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.menu_item i {
  padding: 0 15px;
}

/*===== Course Details Popup Modal =====*/
.course__modal-content {
  width: 35%;
  height: auto;
  margin-left: 5%;
  h1 {
    border-bottom: 3px dotted orange;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 15px;
  }
  .course__details-flex {
    display: flex;
    margin-top: 15px;
    p {
      margin-left: 20px;
    }
  }
}
