/*===== Manage courses styles =====*/
* {
  box-sizing: border-box;
}

.dashboard__nav--top {
  /* Parent element in user_dasboard.css */
  font-size: 18px;
}

.dashboard__nav--top-title,
.dashboard__nav--top-label,
.fa-chevron-down {
  cursor: pointer;
}

.dashboard__nav--top-outline {
  border-bottom: 1px solid black;
}

.dashboard__nav--top-titles {
  display: flex;
  align-items: center;
  gap: 25px;
}

.dashboard__nav--top-checkbox {
  background: #333333; /* Need to be customized to work */
}

.dashboard__nav--top-group {
  display: flex;
  align-items: center;
  gap: 25px;
}

.dashboard__nav--top-checkbox,
.fa-chevron-down {
  margin-left: 15px;
}

.button--add-course {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
}

.dashboard__table-th--checkbox {
  margin-left: 20px;
}

.fa-ellipsis-v {
  margin-right: 25px;
  cursor: pointer;
}

.dashboard__table-close-icon {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/*==== Course management table popup modal component =====*/


/*======= TABLE STYLING ========*/
.dashboard__table {
  text-align: center;
  width: 100%;
  border-spacing: 0;
}

tr {
  position: relative;
}

.dashboard__table-th--first,
.course_name {
  text-align: left;
  padding-left: 30px;
}

.dashboard__table-row {
  background: #E7E7E7;
  color: #24232399;
}

.dashboard__table-th--first {
  border-top-left-radius: 10px;
}

.dashboard__table-th--last {
  border-top-right-radius: 10px;
}

.dashboard__table th,
td {
  border-bottom: 1px solid #706e6e99;
  padding: 10px 0;
}

.dashboard__table .fa-book {
  color: #D98D55;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dashboard__table .menu_toggle {
  border: none;
  font-weight: bold;
  border-radius: 50%;
  width: 45px;
  padding: 10px 0;
  font-size: 20px;
}

.dashboard__table .menu_toggle:hover {
  background: #007AFF66;
  cursor: pointer;
}

.menu_list {
  display: none;
  position: absolute;
  background: #e7e7e7e7;
  color: #060606;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  z-index: 1000;
  width: 200px;
}

.menu_item {
  padding: 15px 0;
}

.menu_item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.menu_item i {
  padding: 0 15px;
}

.menu_item--border {
  outline: 1px solid #706e6e99;
}

/*===== Manage students styles =====*/
