* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
}

/* ======= Top bar ===== */
.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff9f1c;
  z-index: 1;
}

.top_bar .logo_name {
  color: #040a0e;
  font-size: 20px;
  font-weight: 600;
}

.top_bar .profile_img {
  height: 45px;
  width: 45px;
  object-fit: contain;
  border-radius: 50%;
}

/* ===== The Dashboard Main Area ===== */
.dashboard__main--profile {
  padding: 50px 0;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
}

.dashboard__header h1 {
  font-weight: 400;
}

.dashboard__banner{
  margin-top: 25px;
}

.dashboard__profile {
  position: relative;
  display: flex;
  gap: 20px;
  width: 95%;
  margin: auto;
  margin-top: -140px;

  z-index: 9;
}

.profile__user-details {
  width: 340px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 2px 2px 15px 2px #E7E7E7;
}

.profile__header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #E7E7E7;
}

.profile__image {
  width: 100px;
}

.proile__title {
  padding: 10px 0;
}

.form--profile {
  padding: 40px;
}

.profile__more-details {
  width: 80%;
  height: inherit;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 2px 2px 15px 2px #E7E7E7;
}

.dashboard__search-box {
  background: #E7E7E7;
  margin-right: 20px;
  padding: 15px;
  border-radius: 50px;
}

.dashboard__search-box input {
  background: #E7E7E7;
  height: 25px;
  width: 250px;
  border: none;
}


.fa-search {
  padding: 5px;
}

.dashboard__nav--top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 20px;
}

.dashboard__welcome {
  background: #F0FFB6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 10px 10px 15px;
  border-radius: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.dashboard__welcome-message h2 {
  color: #D98D55;
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
  font-weight: 400;
}

.dashboard__welcome-message span {
  font-weight: 500px;
  font-size: 20px;
}

.waving__lady {
  margin-left: 30px;
  width: 180px;
  height: 180px;
}

/* ======= Inspirational Quotes ========= */
.quote__container {
  font-family: 'Georgia', serif;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  border-left: 4px solid #2c3e50;
  box-shadow: 0 4px 8px rgb(240, 255, 182);
  max-width: 600px;
  margin: auto;
  margin: 20px auto;
}

.quote {
  font-size: 1.5rem;
  font-style: italic;
  color: #2c3e50;
  margin: 0;
  padding-bottom: 10px;
}

.author {
  font-size: 1rem;
  color: #7f8c8d;
  display: block;
  text-align: right;
}

/* ====== Course card styles ======= */
.button_add_course {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  position: relative;
  overflow: hidden;
  background: #333333;
  width: 350px;
  height: 150px;
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
  margin: 20px auto;
}

.card span {
  display: inline-block;
  margin-top: 50px;
}

.course_code,
.course_title {
  font-weight: 700;
  letter-spacing: 1.5px;
  z-index: 999;
}

.course_title {
  color: #E7E7E7;
  margin-top: 5px;
}

.fa-long-arrow-right {
  position: absolute;
  top: 50px;
  right: 40px;
}

.card .eclipse {
  width: 55px;
  height: 55px;
  outline: 15px solid #262424;
  border-radius: 50%;
  background: #F0FFB6;
  color: #D98D55;
}

.card .eclipse_top {
  position: absolute;
  top: 10px;
  left: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.card .eclipse_bottom {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
}

.courses__view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.fa-book {
  background: #F0FFB6;
}

.fa-trash:hover {
  background: #F0FFB6;
  cursor: pointer;
}

.dashboard__edit-pencil {
  /*==== Take note of this chnage on th JS file ===*/
  margin-right: 10px;
}


/* ===== Grade Book (Result Computation) Styling ===== */
.dashboard__table .result:nth-child(even) {
  background: #f8f7f7;
}

.dashboard__table .result:hover {
  background-color: #f1f1f1;
}

.score-input,
.score-grade {
  width: 80px;
  height: 36px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.score-grade {
  width: 50px;
  background-color: #eee;
  border: none;
  font-weight: bold;
}


/* ======= Media Query ======== */
@media (min-width: 600px) {
  .top_bar {
    display: none;
  }
}

@media (min-width: 748px) {
  .courses_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }

  .card {
    margin: 20px 0;
  }
}

@media (min-width: 1000px) {
  .dashboard__intro {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .dashboard__welcome,
  .quote__container {
    margin: 20px 0;
  }

}

