.dashboard__nav {
  background: #ff9f1c;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.dashboard__logo,
.dashboard__nav-list,
.dashboard__user {
  width: 100%;
}

.logo {
  display: block;
  height: 65px;
  margin: 20px auto;
}

.dashboard__nav-list {
  list-style: none;
  word-break: keep-all;
  padding: 0;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
}

.dashboard__nav-item {
  padding: 15px 20px;
  margin: 10px 0;
  font-size: 17px;
}
.dashboard__nav-item {
  cursor: pointer;
}

.dashboard__nav-item-highlight {
  background: #ffffff33;
}

.dashboard__nav-item .fa {
  margin-right: 20px;
}

.dashboard__user {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
}

.dashboard__user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.dashboard__user-email {
  font-weight: 500;
  margin-top: 5px;
}
