* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard__container {
  display: flex;
}

.logo__content,
.nav__ul,
.user__container {
  width: 100%;
}

.side__nav {
  background: #ff9f1c;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.nav__conatainer {
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.nav__ul {
  list-style: none;
  word-break: keep-all;
  padding: 0;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
}

.nav__ul .nav__list {
  padding: 15px 20px;
  margin: 10px 0;
  font-size: 17px;
}

.nav__ul .nav__list:first-child {
  background: #ffffff33;
}

.nav__list .fa {
  margin-right: 20px;
}

.logo {
  display: block;
  height: 65px;
  margin: 20px auto;
}

.user__container {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
}

.user__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user_subtitile {
  font-weight: 500;
  margin-top: 5px;
}


/* ===== The Dashboard Area ===== */
.dashboard {
  width: 75%;
  margin: 0 auto;
  height: 500px;
  padding: 50px 0;
  /* border: 2px solid red; */
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
}

.search__box {
  background: #E7E7E7;
  margin-right: 20px;
  padding: 15px;
  border-radius: 50px;
}

.search__box input {
  background: #E7E7E7;
  height: 25px;
  width: 250px;
  border: none;
}


.fa-search {
  padding: 5px;
}

.top__right__contents button {
  background: #000000;
  color: #ffffff;
  border: none;
  width: 180px;
  padding: 15px;
  border-radius: 20px;
}

.intro__container,
.course__card__container,
.course__headings {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}


.welcome__content {
  background: #F0FFB6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 0px 15px;
  border-radius: 20px;
}

.welcome__message h2 {
  color: #D98D55;
  font-size: 48px;
}

.welcome__message span {
  font-weight: 700;
}

.waving__lady {
  margin-left: 30px;
}

.calendar {
  width: 500px;
}


.course__card {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.course__card .fa-book {
  color: #D98D55;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  z-index: 9;
}

.eclipse__1, .eclipse__2 {
  width: 50px;
  height: 50px;
  outline: 20px solid #262424;
  border-radius: 50%;
}

.eclipse__1 {
  position: absolute;
  top: 15px;
  left: 13px;
}

.eclipse__2 {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.stacked__avatar {
  position: absolute;
  left: 10px;
  bottom: 20px;
  width: 150px;
}

.add__course {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  padding-top: 10px;
  color: #000000;
  text-align: center;
  font-size: 18px;
}

.add__course:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.stacked__books {
  width: 100px;
  height: 100px;
  margin: 0 auto;

}

/*======= TABLE STYLING ========*/
.course__headings button {
  background: #F0FFB6;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.course__card {
  background: #333333;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}



.course__management__table{
  text-align: center;
  width: 100%;
  border-spacing: 0;
}

.course__mg__tr {
  background: #E7E7E7;
  color: #24232399;
}

.first__th{
  border-top-left-radius: 10px;
}

.last__th {
  border-top-right-radius: 10px;
}

.course__management__table th, td {
  border-bottom: 1px solid #706e6e99;
  padding: 10px 0;
}

.course__management__table .fa-book, .fa-trash {

  color: #D98D55;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fa-book {
  background: #F0FFB6;
}

.fa-trash:hover {
  background: #F0FFB6;
  cursor: pointer;
}

.course__management__table button {
  background: #007AFF66;
  color: #007AFF;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  padding: 10px 0;
}

.course__management__table .fa-pencil {
  margin-right: 10px;
}


/* === Course management form === */
.popup__modal {
  background: #ffffff;
  position: absolute;
  left: 45%;
  width: 700px;
  padding: 15px;
  z-index: 99;
}

.course__modal .cancel {
  background: #D98D55;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 40px;
  text-align: center;
  padding: 5px 0;
  color: #e7e7e7;
  font-weight: bolder;
  cursor: pointer;
}

#course__name,
#course__code,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
}

.course__management__form input,
textarea {
  background: #e7e7e7;
  border: none;
}

textarea {
  -moz-resize: vertical;
  resize: vertical;
}

.course__level {
  display: flex;
  justify-content: space-around;
}

.course__management__form input[type="checkbox"] {
  margin: 10px;
}

.commence {
  margin: 10px 0;
}

.date__course {
  display: flex;
  justify-content: space-between;
  /* margin-top: 10px; */
}

.date__range input[type="date"] {
  height: 40px;
  margin: 5px 0 0 10px;
  padding: 0 5px;
  border-radius: 10px;
}

.course__credit label {
  display: inline-block;
  width: 100px;
  margin-top: -20px;
}

.course__credit {
  display: flex;
  column-gap: 15px;
}

.course__credit input[type="number"] {
  display: block;
  width: 100px;
  height: 40px;
  margin-top: 5px;
  padding: 0 5px;
  border-radius: 10px;
}

.course__management__form .create__course {
  background: #000000;
  color: #ffffff;
  font-weight: 700;
  padding: 15px 25px;
  margin: 20px 0 10px 535px;
  border-radius: 15px;
}

.create__course:hover {
  cursor: pointer;
}
