<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/user_dashboard.css">
  <link rel="stylesheet" href="/static/css/course_management.css">
  <link rel="stylesheet" href="../static/css/components.css?{{ cache_id }}" />
</head>

<body>
  <div id="student__modal" class="modal-container">
    <div class="modal--dashboard-form">
      <h2 class="modal__title">Course enrollment</h2>
      <span id="close-icon" class="close-icon close-icon--modal">&times;</span>
      <form id="course-management" class="form--course-management">


        <div class="form__row">
          <label for="course-name" class="form__label">Course Name</label>
          <input type="text" id="course-name" class="form__input form__input--disabled" value="English Language"
            readonly>
        </div>

        <div class="form__row--group">
          <div class="form__row">
            <label for="course-code" class="form__label">Course Code</label>
            <input type="text" id="course-code" class="form__input" placeholder="@example">
          </div>
          <div class="form__row">
            <label for="student-id" class="form__label">Student ID</label>
            <input type="text" id="student-id" class="form__input" placeholder="@example">
          </div>
        </div>

        <div class="form__row">
          <label for="student-department" class="form__label">Student Department</label>
          <input type="text" id="student-department" class="form__input" placeholder="@example">
        </div>

        <div class="form__row">
          <label class="form__label">Program Level</label>
          <div class="form__levels">
            <label class="form__level">
              <input type="radio" name="level" class="form__radio" value="100"> 100 Level
            </label>
            <label class="form__level">
              <input type="radio" name="level" class="form__radio" value="200"> 200 Level
            </label>
            <label class="form__level">
              <input type="radio" name="level" class="form__radio" value="300"> 300 Level
            </label>
            <label class="form__level">
              <input type="radio" name="level" class="form__radio" value="400"> 400 Level
            </label>
          </div>
        </div>

        <button type="submit" class="button button--save">Enroll</button>
      </form>
    </div>
  </div>

</body>

</html>
